@import 'tailwindcss';

@theme {
  --color-yg-primary: #4ac5b2;
  --color-yg-secondary: #e89a80;
  --color-yg-white: #f8f7f4;
  --color-yg-black: #1a1c20;
  --color-yg-gray: #b7b7b7;
  --color-yg-lightgray: #d9d9d9;
  --color-yg-darkgray: #757575;
  --color-yg-warning: #f52525;
}

@layer base {
  body {
    font-family:
      var(--font-pretendard),
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;
  }
}

@media (min-width: 1024px) {
  .link-hover {
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #e89a80;
      transition: width 0.25s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
